@media screen and (max-width: 576px){
.section{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
@media (max-width: 576px){
    .dropdown-item::before{
        transform: rotate(-90deg);
    }
}
.teksti{
    margin: 0px auto;
    padding: 20px;
    min-height: 450px;
    font-style: italic;
    text-align:center;
}
#bg{
    background-color:#19A7CE;
    margin-bottom: 10px;
}
nav, .dropdown-item{
    font-weight: bold;
    background-color: #B0DAFF;
}
body{
    background-color: #B0DAFF;
} 
.dropdown-item:hover{
    background-color: #146C94;
}
.dropdown-menu{
    --bs-dropdown-padding-y: 0rem;
}
}
